In [269]:
# NAME : HAMMAD ABID ,  ID:9134
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [270]:
#Reading csv_file
df = pd.read_csv("carprices.csv")

In [271]:
df.head()

  Car Model  Mileage  Sell Price  Age
0    BMW X5    69000       18000    6
1    BMW X5    35000       34000    3
2    BMW X5    57000       26100    5
3    BMW X5    22500       40000    2
4    BMW X5    46000       31500    4

In [272]:
#converting string data to numeric using one hot Encoding
carmodel = pd.get_dummies(df[['Car Model']], drop_first= True)
carmodel.head()

   Car Model_BMW X5  Car Model_Mercedez Benz   Car Model_Toyota
0                 1                         0                 0
1                 1                         0                 0
2                 1                         0                 0
3                 1                         0                 0
4                 1                         0                 0

In [273]:
#Now merging 
data = pd.concat([df, carmodel ], axis = 1)
data.head()

,Car Model,Mileage,Sell Price,Age,Car Model_BMW X5,Car Model_Mercedez Benz,Car Model_Toyota
0,BMW X5,69000,18000,6,1,0,0
1,BMW X5,35000,34000,3,1,0,0
2,BMW X5,57000,26100,5,1,0,0
3,BMW X5,22500,40000,2,1,0,0
4,BMW X5,46000,31500,4,1,0,0

In [274]:
categorical_features = ['Car Model']

In [275]:
data = data.drop(columns=categorical_features, axis=1)
data.head()

,Mileage,Sell Price,Age,Car Model_BMW X5,Car Model_Mercedez Benz,Car Model_Toyota
0,69000,18000,6,1,0,0
1,35000,34000,3,1,0,0
2,57000,26100,5,1,0,0
3,22500,40000,2,1,0,0
4,46000,31500,4,1,0,0

In [276]:
Y = data['Sell Price']
X = data.drop('Sell Price', axis=1)

In [277]:
from sklearn.model_selection import train_test_split

np.random.seed(0)
trainX, testX, trainY, testY = train_test_split(X,Y, test_size = 0.3, random_state = (12))

In [278]:
#LinearRegression
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
lm.fit(trainX, trainY)

LinearRegression()

In [279]:
Lm_predict = lm.predict(testX)
print("Prediction Using Linear Regression for test set: {}".format(Lm_predict))

Prediction Using Linear Regression for test set: [26626.38106918 12115.35481353 28667.27799766 41525.21043536
 19998.16600702]

In [280]:
data_diff = pd.DataFrame({'Actual value': testY, 'Predicted value': Lm_predict})
data_diff.head()

    Actual value  Predicted value
5          29400     26626.381069
8          12000     12115.354814
9          22000     28667.277998
14         32000     41525.210435
7          19300     19998.166007

In [281]:
#Performance Measurement of Linear Regression
from sklearn import metrics
meanAbErr = metrics.mean_absolute_error(testY, Lm_predict)
meanSqErr = metrics.mean_squared_error(testY, Lm_predict)
rootMeanSqErr = np.sqrt(metrics.mean_squared_error(testY, Lm_predict))
print('R squared: {:.2f}'.format(lm.score(X,Y)*100))
print('Mean Absolute Error:', meanAbErr)
print('Mean Square Error:', meanSqErr)
print('Root Mean Square Error:', rootMeanSqErr)

R squared: 90.97
Mean Absolute Error: 3955.9256368805304
Mean Square Error: 28675186.843163025
Root Mean Square Error: 5354.92174015298

In [282]:
#Implementing Decision Tree
from sklearn.tree import DecisionTreeClassifier
decision = DecisionTreeClassifier(random_state=1)
decision.fit(trainX, trainY)

DecisionTreeClassifier(random_state=1)

In [283]:
descision_predict = decision.predict(testX)
print("Prediction Using Decision for test set: {}".format(descision_predict))

Prediction Using Decision for test set: [32000 32000 33000 55000 32000]

In [284]:
data_diff = pd.DataFrame({'Actual value': testY, 'Predicted value':descision_predict})
data_diff.head()

    Actual value  Predicted value
5          29400            32000
8          12000            32000
9          22000            33000
14         32000            55000
7          19300            32000

In [285]:
#Performance Measurement of Decision
from sklearn import metrics
meanAbErr = metrics.mean_absolute_error(testY,descision_predict)
meanSqErr = metrics.mean_squared_error(testY, descision_predict)
rootMeanSqErr = np.sqrt(metrics.mean_squared_error(testY, descision_predict))
print('R squared: {:.2f}'.format(decision.score(X,Y)*100))
print('Mean Absolute Error:', meanAbErr)
print('Mean Square Error:', meanSqErr)
print('Root Mean Square Error:', rootMeanSqErr)

R squared: 68.75
Mean Absolute Error: 13860.0
Mean Square Error: 243610000.0
Root Mean Square Error: 15608.010763707205

In [286]:
# Implementing KNN
from sklearn.neighbors import KNeighborsClassifier
kc = KNeighborsClassifier()
kc.fit(trainX, trainY)

KNeighborsClassifier()

In [287]:
KN_predict = kc.predict(testX)
print("Prediction Using KNN for test set: {}".format(KN_predict))

Prediction Using KNN for test set: [18000 18000 18000 18000 18000]

In [288]:
data_diff = pd.DataFrame({'Actual value': testY, 'Predicted value':KN_predict})
data_diff.head()

    Actual value  Predicted value
5          29400            18000
8          12000            18000
9          22000            18000
14         32000            18000
7          19300            18000

In [289]:
#Performance Measurement of KNN
from sklearn import metrics
meanAbErr = metrics.mean_absolute_error(testY,KN_predict)
meanSqErr = metrics.mean_squared_error(testY, KN_predict)
rootMeanSqErr = np.sqrt(metrics.mean_squared_error(testY, KN_predict))
print('R squared: {:.2f}'.format(kc.score(X,Y)*100))
print('Mean Absolute Error:', meanAbErr)
print('Mean Square Error:', meanSqErr)
print('Root Mean Square Error:', rootMeanSqErr)

R squared: 12.50
Mean Absolute Error: 7340.0
Mean Square Error: 75930000.0
Root Mean Square Error: 8713.782186857783